.item h3 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
}

.item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  border-radius: 30px;
  color: salmon;
  font-size: 2rem;
  position: relative;
  top: 1rem;
  font-style: italic;
}

.item p {
  color: #727272;
  font-size: 0.7rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
